<h1>Angular Component</h1>

<app-navbar></app-navbar>
<!--step 2 Passing variable 'parentMessage' to 'post' component(child component)  ,"fromParent" ki jagah kuch bhi naam de skte yh bind krne k kaam aata h
"fromParent" call krenge hum post.ts file me 

In the parent component's template, pass the string data to the child component using property binding.
-->
<app-post [fromParent]='parentMessage' (messageEvent)='reciveMessage($event)'></app-post>
<!-- step6 Output Decorator .... binding event emitter with this app-post and creating fucntion "reciveMessage" in app.component.ts whihc is step7-->

<!-- step9 display message  -->
<!-- {{displayChildMssg}} -->

<br><br>
<!-- step9  output decorator -->
<!-- {{fromChildOutput}} -->

<!-- PROPERTY BINDING:if u use string interpolation for img then after compilation this string interpolation
will compile into property binding so bettre use property binding only -->
<img src="{{imgUrl}}" alt="hi"> <!-- Thru String interpolation -->
<img [src]="imgUrl" alt="hi2"> <!-- Thru STep 2 property binding -->

<!-- CLASS BINDING -->
<h5 [class.text-red]="bool">Applying CSS conditionally using class binding</h5>

<!-- STYLE BINDING -->
<!-- To search for property names like backgroundColor etc... -->
<!-- https://www.w3schools.com/jsref/dom_obj_style.asp -->
<h1 [style.color]="bool ? 'purple':'green'">Style binding</h1>

<!-- EVENT BINDING: we use () brackets and not [] this -->
<button (click)="buttonClick()">Click Me</button>
<br><br><br>

<!-- **********************   EVENT FILTERING   ****************************** -->

<!-- normal events   -->
<input type="text" (keyup)="onKeyUp($event)">
<br><br><br>
<!-- event filtering -->
<input type="text" (keyup.enter)="onKeyUpUsingAngularEventFiltering()">

<!-- ************************************************************** -->

<br><br><br><br><br>

<!-- *************************  TEMPLATE VARIABLE  *************************************************** -->
<input type="text" (keyup.enter)="withoutTemplateVariable($event)">
<br><br><br>
<input type="text" (keyup.enter)="withTemplateVariable(username.value)" #username>
<!-- #username is imp as this is template variable and once dclared use this inside method like username.value  -->
<br><br><br><br>
<!-- ***********  2 way data binding ***************** -->
<input type="text" [(ngModel)]="userName" (keyup.enter)="twoWayDataBinding1()">

<br><br><br><br><br>
<!--******** ONE-WAY and TWO-WAY DATA BINDING ******-->
<input type="text" [value]="textvalue" (keyup.enter)="OneWayDataBinding()"> <!--one way Data binding -->
<br><br><br><br><br>
<input type="text" [(ngModel)]="textvalue" (keyup.enter)="OneWayDataBinding()"> <!--two way Data binding -->

<!-- Task -->
<div class="form-area">
    <h1>Post form</h1>
    <input type="text" placeholder="Post Title" [(ngModel)]="postTitle">
    <br><br><br>
    <textarea cols="30" rows="10" placeholder="Post Details" [(ngModel)]="postDetails"></textarea>
    <br><br><br>
    <input type="text" placeholder="Post image URL" [(ngModel)]="imageURL">
    <br><br><br>
    <input type="text" placeholder="Post URL" [(ngModel)]="postURL">
    <br><br><br>
    <input type="checkbox" [(ngModel)]="addBackground"> Add Background
</div>
<div class="preview-area">
    <h1><span [class.add-background]="addBackground">{{postTitle}}</span></h1>
    <h1>{{postDetails}}</h1>
    <img [src]="imageURL" alt="">
    <a [href]="postURL" target="_blank" [style.display]="postURL ? 'block':'none'">More Details</a>
</div>

<!-- method 1 : displaying array thru string interpolation -->
<ul>
    <li>{{postArray[0]}}</li>
    <li>{{postArray[1]}}</li>
    <li>{{postArray[2]}}</li>
</ul>

<!-- method 3 : *ngFor -->
<ul>
    <li *ngFor="let post of postArray">{{post}}</li>
</ul>

<!-- fetching full object array -->
<ul>
    <li *ngFor="let post of objArray">{{post | json}}</li>
</ul>

<button (click)="addNew()">Add new data</button>

<!-- fetching any property -->
<ul>
    <li *ngFor="let post of objArray">{{post.postTitle}}
        <button (click)="onDelete(post)">Delete</button>
        <!--passing num of the object to be deleted so that we can get index using indexOf -->

    </li>
</ul>

<!-- passing index value (Usage of Array Index) -->
<ul>
    <li *ngFor="let post of objArray; let i=index">{{post.postTitle}}
        <button (click)="onDelete1(i)">Delete</button>

    </li>
</ul>


<!-- conditional array -->
<div *ngIf="conditonalArray.length>0; then postList else noData">
</div>
<!-- <div *ngIf="conditonalArray.length==0">
    <h1>Nothing to display</h1>
</div> -->
<ng-template #postList>
    <ul>
        <li *ngFor="let p of conditonalArray">{{p}}</li>
    </ul>
</ng-template>

<ng-template #noData>
    <p>There is no Data to display </p>
</ng-template>

<!-- **** ngSwitch case **** -->
<p>without Switch Cases</p>

<div>
    <button (click)="onClick('step1')">Step 1</button>
    <button (click)="onClick('step2')">Step 2</button>
    <button (click)="onClick('step3')">Step 3</button>
</div>

<!-- <div *ngIf="stepForm=='step1'">Step 1 Form</div>
<div *ngIf="stepForm=='step2'">Step 2 Form</div>
<div *ngIf="stepForm=='step3'">Step 3 Form</div> -->

<!--************* with Switch case ******** -->
<br>
<div [ngSwitch]="stepForm"> <!-- [ngSwitch] is property binding-->
    <div *ngSwitchCase="'step1'">Step 1 Form with switch case</div>
    <div *ngSwitchCase="'step2'">Step 2 Form with switch case</div>
    <div *ngSwitchCase="'step3'">Step 3 Form with switch case</div>
    <div *ngSwitchDefault>Something else</div>
    <!-- *ngSwitchDefault will run for the first time but when u click on button thn this will be removed & other mssgs will be shown-->
</div>

<!-- ********* NgStyle Directive ********** -->
<!-- style binding -->
<h1 [style.color]="isActive?'red':'black'" [style.textTransform]="isActive?'uppercase':'lowercase'">
    With Style binding
</h1>
<!--**** ngStyle directive *****-->
<h1 [ngStyle]="{
    color:isActive?'red':'black',
    textTransform:isActive?'uppercase':'lowercase'
}">with ngStyle Directive</h1>

<!--******** ngClass directive ******-->
<p>NgClass Directive</p>

<h1 [class.main]="isActive" [class.text-weight]="isActive">
    class binding
</h1>

<h1 [ngClass]="{
    'main':isActive,
    'text-weight':isActive
}">ngClass directive</h1>

<div class="form-area">
    <h3>User Details</h3>
    <input type="text" placeholder="Name" [(ngModel)]='name'>
    <br><br>
    <input type="email" placeholder="E-mail" [(ngModel)]='email'>
    <br><br>
    <textarea cols="30" rows="10" placeholder="address" [(ngModel)]='address'></textarea>
    <br><br>
    <button (click)="saveData()">Save Data</button>
</div>

<div *ngIf="userArray.length>0 else noDataToDisplay">
    <div class="table-area">
        <table width="1000">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userArray; let index=index">
                    <td>{{index+1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address}}</td>
                    <td><button (click)="onDeleteUser(index)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #noDataToDisplay>
    <h1>No data to display</h1>
</ng-template>

<h1>{{heading | uppercase}}</h1>
<h2>{{count | number}}</h2>

<!-- 3.25647 round it of to 2 digit like 3.26 -->
<!-- '1.2-2 means explained in notes in readme.md file -->
<h3>{{decNum | number:'2.2-2'}}</h3>

<!-- by default currency code is dollar if u want for specific country then u can pass argument for specific country -->
<h2>{{currencyNum| currency}}</h2>
<!-- google currency code for specific country -->
<h2>{{currencyNum| currency:"JPY"}}</h2>
<!-- To display currency code instead of symbol pass false o/p here "JPY10"-->
<h2>{{currencyNum | currency:"JPY" :false}}</h2>
<!-- round of in currency -->
<h2>{{currencyNum | currency:"JPY" :false: '6.2-2'}}</h2>


<!-- ******  Date pipe ***** -->
<h2>{{today}}</h2>
<h2>{{today | date:"short"}}</h2>
<h2>{{today | date:"shortDate"}}</h2>
<h2>{{today | date}}</h2>
<h2>{{today | date:"shortTime"}}</h2>
<h2>{{today | date:"longTime"}}</h2>

<!-- json pipe -->
<h2>{{postObj | json}}</h2>

<!-- percent pipe (multiplies by 100) -->
<h2>{{0.567871 | percent}}</h2>
<h2>{{.1666666 | percent : "5.2-3"}}</h2> <!-- at max 3 digits post decimal-->
<h2>{{.1 | percent : "5.2-3"}}</h2> <!-- min 2 digits will be there post decimal-->

<!-- slice pipe to slice an array -->
<h1>{{postArray}}</h1>
<h1>{{postArray | slice:2:3}}</h1>