<h1>Angular Component</h1>

<app-navbar></app-navbar>
<!--step 2 Passing variable 'parentMessage' to 'post' component(child component)  ,"fromParent" ki jagah kuch bhi naam de skte yh bind krne k kaam aata h
"fromParent" call krenge hum post.ts file me 

In the parent component's template, pass the string data to the child component using property binding.
-->
<app-post [fromParent]='parentMessage' (messageEvent)='reciveMessage($event)'></app-post>
<!-- step6 Output Decorator .... binding event emitter with this app-post and creating fucntion "reciveMessage" in app.component.ts whihc is step7-->

<!-- step9 display message  -->
<!-- {{displayChildMssg}} -->

<br><br>
<!-- step9  output decorator -->
<!-- {{fromChildOutput}} -->

<!-- PROPERTY BINDING:if u use string interpolation for img then after compilation this string interpolation
will compile into property binding so bettre use property binding only -->
<img src="{{imgUrl}}" alt="hi"> <!-- Thru String interpolation -->
<img [src]="imgUrl" alt="hi2"> <!-- Thru STep 2 property binding -->

<!-- CLASS BINDING -->
<h5 [class.text-red]="bool">Applying CSS conditionally using class binding</h5>

<!-- STYLE BINDING -->
<!-- To search for property names like backgroundColor etc... -->
<!-- https://www.w3schools.com/jsref/dom_obj_style.asp -->
<h1 [style.color]="bool ? 'purple':'green'">Style binding</h1>

<!-- EVENT BINDING: we use () brackets and not [] this -->
<button (click)="buttonClick()">Click Me</button>
<br><br><br>

<!-- **********************   EVENT FILTERING   ****************************** -->

<!-- normal events   -->
<input type="text" (keyup)="onKeyUp($event)">
<br><br><br>
<!-- event filtering -->
<input type="text" (keyup.enter)="onKeyUpUsingAngularEventFiltering()">

<!-- ************************************************************** -->

<br><br><br><br><br>

<!-- *************************  TEMPLATE VARIABLE  *************************************************** -->
<input type="text" (keyup.enter)="withoutTemplateVariable($event)">
<br><br><br>
<input type="text" (keyup.enter)="withTemplateVariable(username.value)" #username>
<!-- #username is imp as this is template variable and once dclared use this inside method like username.value  -->
<br><br><br><br>
<!-- ***********  2 way data binding ***************** -->
<input type="text" [(ngModel)]="userName" (keyup.enter)="twoWayDataBinding1()">

<br><br><br><br><br>
<!--******** ONE-WAY and TWO-WAY DATA BINDING ******-->
<input type="text" [value]="textvalue" (keyup.enter)="OneWayDataBinding()"> <!--one way Data binding -->
<br><br><br><br><br>
<input type="text" [(ngModel)]="textvalue" (keyup.enter)="OneWayDataBinding()"> <!--two way Data binding -->