.text-red {
    color: red;
}

.form-area {
    text-align: center;
}

.add-background {
    background-color: yellow;
}

.main {
    color: purple;
}

.text-weight {
    font-weight: 900;
}

.table-area {
    position: absolute;
    left: 10%;
}